a
{
	cursor: pointer;
}

td
{
	vertical-align: middle !important;
}

.secondary
{
	color: #999;
}

.background 
{
	background-position:center center;
	background-image: url(../img/background.jpg);
}

.background-lighted
{
	background-position:center center;
	background-image: url(../img/background-lighted.jpg);
}

.vertical-offset-50
{
	padding-top: 50px;
}

.vertical-offset-100 
{
	padding-top: 100px;
}

.img-responsive 
{
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

.btn-select-text 
{
	padding-right: 10px;
}

.hidden 
{
	display: none;
}

.nav-username
{
	padding-top: 15px;
	margin-right: -11px;
	color: #999;
}

.panel 
{
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}